{% extends 'base.html' %}

{% block title %}
    The swiss geometa validator
{% endblock %}

{% block content %}

<div id="filter" class="container-fluid invisible">
    <div class="row mx-5 mt-5 mb-3">
        <button id = "filterNotValid" type="button" class="btn btn-outline-danger btn-sm font-weight-bold">Only not valid</button>
        <a href="/" class="btn btn-outline-secondary btn-sm font-weight-bold ml-auto" role="button">Reset</a>
    </div>
</div>

<input type="file" id="file-browser" multiple="multiple" hidden>
<div id="drop-area" class="container-fluid">
    <div class="drop-area row h-100 mx-5 align-items-center rounded shadow-sm bg-light border-highlight">
        <div class="col mx-auto">
            <h5 class="text-center text-muted mb-3"><i class="fa-solid fa-cloud-arrow-up fa-2xl"></i></h5>
            <h5 class="text-center text-muted">
                Drag and drop your metadata in XML ISO19139.che here<br>-<br>
                or use the <a href="{{ url_for('home.static',filename='api-doc.html') }}" target="_blank">API</a>
            </h5>
            <div class="d-flex justify-content-center">
                <div class="spinner-border text-info d-none mt-2" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="md-results" class="container-fluid">
</div>

{% endblock %}
