<div class="container mt-5">
    <div class="row">
        <div class="col-10 mx-auto">
            <p class="text-break text-dark">
                The <b>swiss geometa validator</b> provides a standalone tool in form of a 
                <a href="/">web application</a> and an 
                <a href="/" target="_blank">API</a>
                to validate XML files encoded in ISO19139.che against the swiss geospatial metadata profile.
                <br><br>
                The <b>ISO19139.che</b> is the XML implementation of the swiss geospatial metadata profile.
                <br><br>
                The <b>ISO19139.che</b> profile is used in the swiss geodata catalogue <a href="https://www.geocat.ch" target="_blank">geocat.ch</a>. 
                Usually, all (geo)metadata in geocat.ch must follow the profile. The swiss geometa validator provides a handy tool to validate 
                the content and structure of metadata before importing or harvesting them into geocat.ch.
            </p>
        </div>
    </div>
</div>
